@use "../../../../scss/abstracts/" as *;

.profile {
  @include flex();

  //   margin-left: auto;
  &__avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0.5rem;

    a {
      display: block;
      height: 100%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__userName {
    font-size: $fontSizeBodyLarge;
    white-space: nowrap;
    margin-top: 20px;
  }

  &__role {
    font-size: $fontSizeBodyMedium;
    color: darkgray;
  }
}