@use "../../scss/abstracts/" as *;
.summary {
  margin: 2rem 0;
  

  &__box {
    
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    width: 100%;
    @media screen and (max-width: 800px){
      display: block;
    }
  }
}
