.table-container table {
    width: 97%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
    border-top-left-radius: 150px !important;
}

.table-container {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    ;

}

.my-table {
    background-color: #fff;
}