.cardcont {
    height: 200px;
    /* width: 200px; */
    margin: 10px 30px;
    background-image: url(../assets/images/credit1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.cardcont p {
    color: aliceblue;
    margin-left: 10px;
    margin-bottom: 20px;

}

.cardDet {
    height: 80px;
    background-color: #dee2e6;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 10px 20px;
}

.tableHead {
    background-color: #dc3545 !important;
    padding: 10px 10px !important;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
}

.tableSortable {
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
}


.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    /* Adjust the width as needed */
    background-color: #f8f9fa;
    transform: translateX(-100%);
    animation: modalOpen 0.5s cubic-bezier(0.42, 0, 0.2, 1) forwards;
}

.modal-content.closing {
    animation: modalClose 0.5s cubic-bezier(0.42, 0, 0.2, 1) forwards;
}

@keyframes modalOpen {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes modalClose {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.modal-close {
    margin-bottom: 10px;
}

.modal-body {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.datepick {
    width: 148%;
}

.date-picker-container div {
    width: 100%;
}