.terms-link {
    color: #039BE5;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 5px;

}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.submit-message {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}


.loader {
    position: relative;
    width: 60px;
    height: 60px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    animation: spin 2s linear infinite;
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}