body {

    direction: rtl;
    background: #F5F5F5;
    font-family: iranYekan;
}

.loginPage {

    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0 auto;
    height: 100vh;

}

#logoM {
    z-index: 1;
    width: 320px;
    position: absolute;
    top: 1%;
    left: 1%;


}

.loginBack {
    background-color: rgba(28, 56, 113, 0.75);
    opacity: 0.45;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 40%;
}



.loginForm {

    position: absolute;
    top: 0%;
    right: 8%;
    height: 600px;
    width: 300px;
    text-align: center
}

.loginForm .banner {
    color: aliceblue;
    position: relative;
    top: 60px;
    font-size: 70px;

}

.loginForm .loginInput {
    position: relative;
    top: 190px;
    border-radius: 20px 20px 20px 20px;

}

.loginForm .loginB {
    width: 100%;
    background: #1C3871;
    color: aliceblue;
    position: relative;
    top: 320px;

}

.loginForm .agreement {
    width: 100%;
    color: aliceblue;
    position: relative;
    top: 330px;

}

.loginForm .agreement a {

    color: rgb(0, 0, 0);


}

.remember {
    color: aliceblue;
    position: absolute;
    top: 410px;
    right: 0%;

}

.forget {
    position: absolute;
    top: 410px;
    left: 0%;

}

.forget a {
    color: aliceblue;
    text-decoration: none
}

.loginNatMod {
    font-family: iranYekan;
}

.imgErr {
    width: 100px;
}

.ErrBody {
    text-align: center;
    font-family: iranYekan;

}

.ErrClose {
    font-family: iranYekan;
}