.title {
    font-size: 30px;
}

.labels {

    font-size: 15px !important;
    margin-bottom: 5px;
}

.inputs {
    opacity: 0.6;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: 0;
}

#profileNav {
    padding-bottom: 10px;
    border-bottom: 1px solid #7a7a7a;
    color: #000;
}